//output: ../includes/home.inc.html, pretty:true
h1 Hello world!
p A Skivvy egy vékonyklienses okosotthon vezérlő alkalmazás. Egy hobbiprojekt. Kliens oldalon egy böngészővel (asztali vagy mobil), ahol az alkalmazés az össze most divatos tehcnológiát használja (HTML5, CSS3, JQuery, Bootstrap, PugJS, SASS, AngularJS), szerver oldalon pedig Python és MySql egy Raspberry Pi-n, ami a külső eszközök vezérlését (I2C és GPIO) is elvégzi.
h3 Tervezett funkciók
h4 Doorkeeper modul
p A Doorkeeper modul feladatai között szerepel:
  ul
    li Csengő és videó kaputelefon kezelés
    li Bejárati kapu nyitás
    li Távvezérelhető autó bejárati kapu státusz lekérdezés és vezérlés
    li Házkörüli fényforrások státusz lekérdezése és vezérlése
h4 Housekeeper modul
p A Housekeeper tervezett feladatai:
  ul
    li Külső, belső hőmérséklet lekérdezése, megjelenítése
    li Programozható termosztát funkció
    li Belső fényforrások vezérlése

h4 Gardener modul
p A Gardener modul feladatai:
  ul
    li Kerti öntöző berendezés vezérlése
    li Kerti fényforrások vezérlése
